USE [master]
GO
/****** Object:  Database [QL_TINTUC]    Script Date: 3/29/2024 12:21:28 AM ******/
CREATE DATABASE [QL_TINTUC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_TINTUC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_TINTUC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_TINTUC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_TINTUC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TINTUC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_TINTUC]
GO
/****** Object:  Table [dbo].[chude]    Script Date: 3/29/2024 12:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chude](
	[idCD] [int] NOT NULL,
	[tenCD] [varchar](200) NULL,
	[tukhoaCD] [varchar](200) NULL,
	[cssCD] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tinnhanh]    Script Date: 3/29/2024 12:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tinnhanh](
	[idTN] [int] NOT NULL,
	[motaTN] [varchar](200) NULL,
	[idCD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tintuc]    Script Date: 3/29/2024 12:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tintuc](
	[idTT] [int] NOT NULL,
	[tieudeTT] [varchar](255) NULL,
	[noidungTT] [text] NULL,
	[tomtatTT] [varchar](100) NULL,
	[urlhinhTT] [varchar](255) NULL,
	[ngaydangTT] [datetime] NULL,
	[idUserDang] [int] NULL,
	[daduyetTT] [int] NULL,
	[ngayduyetTT] [date] NULL,
	[idUserDuyet] [int] NULL,
	[solanxemTT] [int] NULL,
	[tukhoaTT] [varchar](255) NULL,
	[idCD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trang]    Script Date: 3/29/2024 12:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trang](
	[idTrang] [int] NOT NULL,
	[tenTrang] [varchar](200) NULL,
	[urlTrang] [varchar](200) NULL,
	[titleTrang] [varchar](200) NULL,
	[ghichuTrang] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userlog]    Script Date: 3/29/2024 12:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userlog](
	[sttUser] [int] NOT NULL,
	[idUser] [int] NULL,
	[LastLoginDate] [datetime] NULL,
	[session] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[sttUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/29/2024 12:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[idUser] [int] NOT NULL,
	[hotenUser] [varchar](200) NULL,
	[loginnameUser] [varchar](200) NULL,
	[passUser] [varchar](20) NULL,
	[diachiUser] [varchar](100) NULL,
	[dienthoaiUser] [varchar](20) NULL,
	[emailUser] [varchar](50) NULL,
	[ngaydkUser] [date] NULL,
	[ngaysinhUser] [date] NULL,
	[gioitinhUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tinnhanh] ADD  DEFAULT (NULL) FOR [motaTN]
GO
ALTER TABLE [dbo].[tintuc] ADD  DEFAULT (NULL) FOR [noidungTT]
GO
ALTER TABLE [dbo].[tintuc] ADD  DEFAULT (NULL) FOR [tomtatTT]
GO
ALTER TABLE [dbo].[tintuc] ADD  DEFAULT (NULL) FOR [urlhinhTT]
GO
ALTER TABLE [dbo].[trang] ADD  DEFAULT (NULL) FOR [ghichuTrang]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [hotenUser]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [loginnameUser]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [ngaysinhUser]
GO
ALTER TABLE [dbo].[tinnhanh]  WITH CHECK ADD  CONSTRAINT [FK_tinnhanh_idCD] FOREIGN KEY([idCD])
REFERENCES [dbo].[chude] ([idCD])
GO
ALTER TABLE [dbo].[tinnhanh] CHECK CONSTRAINT [FK_tinnhanh_idCD]
GO
ALTER TABLE [dbo].[tintuc]  WITH CHECK ADD  CONSTRAINT [FK_tintuc_idCD] FOREIGN KEY([idCD])
REFERENCES [dbo].[chude] ([idCD])
GO
ALTER TABLE [dbo].[tintuc] CHECK CONSTRAINT [FK_tintuc_idCD]
GO
ALTER TABLE [dbo].[tintuc]  WITH CHECK ADD  CONSTRAINT [FK_tintuc_idUserDang] FOREIGN KEY([idUserDang])
REFERENCES [dbo].[users] ([idUser])
GO
ALTER TABLE [dbo].[tintuc] CHECK CONSTRAINT [FK_tintuc_idUserDang]
GO
ALTER TABLE [dbo].[tintuc]  WITH CHECK ADD  CONSTRAINT [FK_tintuc_idUserDuyet] FOREIGN KEY([idUserDuyet])
REFERENCES [dbo].[userlog] ([sttUser])
GO
ALTER TABLE [dbo].[tintuc] CHECK CONSTRAINT [FK_tintuc_idUserDuyet]
GO
USE [master]
GO
